.table {
    border-collapse: collapse;
    width: auto;
    margin: 16px;
}

.no-click {
    pointer-events: none;
}

.small {
    border: 2px solid black;
    width: 150px;
    height: 150px;
    font-size: 80px;
}

.medium {
    border: 2px solid black;
    width: 100px;
    height: 100px;
    font-size: 50px;
}

.large {
    border: 2px solid black;
    width: 65px;
    height: 65px;
    font-size: 30px;
}

td:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.07);
}

.text-td {
    text-align: center;
    margin: 0;
}

.cross {
    color: green;
}

.zero {
    color: red;
}