.table {
    border-collapse: collapse;
}

td {
    border: 2px solid black;
    width: 150px;
    height: 150px;
}

td:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.07);
}